Задача на расчёт налога ИП при упрощенной системе налогооблажения

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.linear_model import LinearRegression

In [2]:
amount_businessmen = 500

revenue_1 = np.random.choice(460000, amount_businessmen) + 94000
revenue_2 = np.random.choice(580000, amount_businessmen) + 16000
revenue_3 = np.random.choice(950000, amount_businessmen) + 57000
revenue_4 = np.random.choice(760000, amount_businessmen) + 79000

ins_payment_3 = np.random.choice(47000, amount_businessmen) + 3000
ins_payment_6 = np.random.choice(70000, amount_businessmen) + 5300
ins_payment_9 = np.random.choice(94000, amount_businessmen) + 8200
ins_payment_12 = np.random.choice(79000, amount_businessmen) + 2000

prepaid_1 = 0.06 * revenue_1 - ins_payment_3
# for i in range(len(prepaid_1)):
#     if prepaid_1[i] < 0:
#         prepaid_1[i] = 0
        
prepaid_2 = 0.06 * (revenue_1 + revenue_2) - ins_payment_6 - prepaid_1
# for i in range(len(prepaid_2)):
#     if prepaid_2[i] < 0:
#         prepaid_2[i] = 0
        
prepaid_3 = 0.06 * (revenue_1 + revenue_2 + revenue_3) - ins_payment_9 - prepaid_1 - prepaid_2
# for i in range(len(prepaid_3)):
#     if prepaid_3[i] < 0:
#         prepaid_3[i] = 0
        
result = (0.06 * (revenue_1*revenue_1 + revenue_2 + revenue_3 + revenue_4) - ins_payment_12 -prepaid_1 - prepaid_2 - prepaid_3)
# for i in range(len(result)):
#     if result[i] < 0:
#         result[i] = 0

data = pd.DataFrame({'revenue_1': revenue_1, 'revenue_2': revenue_2, 'revenue_3': revenue_3, 'revenue_4': revenue_4,
                    'ins_payment_3': ins_payment_3, 'ins_payment_6': ins_payment_6, 'ins_payment_9': ins_payment_9, 
                    'ins_payment_12': ins_payment_12, 'prepaid_1': prepaid_1, 'prepaid_2': prepaid_2, 
                    'prepaid_3': prepaid_3, 'result': result})
data.head(5)

,revenue_1,revenue_2,revenue_3,revenue_4,ins_payment_3,ins_payment_6,ins_payment_9,ins_payment_12,prepaid_1,prepaid_2,prepaid_3,result
0,504342,119603,148627,536264,21102,71305,97893,9022,9158.52,-43026.82,-17670.38,57557736.32
1,453765,184201,563871,639396,29691,29632,75785,72157,-2465.10,11111.06,-12320.74,-15330533.12
2,142647,397412,380052,835578,49009,10661,81872,50433,-40450.18,62192.72,-48407.88,-67527177.40
3,369667,285984,185034,695524,14206,27743,9368,38592,7974.02,3622.04,29477.04,-47125427.56
4,285393,252043,513064,269433,10284,10117,96557,48377,6839.58,15289.58,-55656.16,-9265628.10

In [3]:
from sklearn.metrics import mean_absolute_error

X = data[['revenue_1', 'revenue_2', 'revenue_3', 'revenue_4']]
y = data['result']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_)) # коэф k
print('Bias: {}'.format(reg.intercept_)) # коэф m

pred_values = reg.predict(data[['revenue_1', 'revenue_2', 'revenue_3', 'revenue_4']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [  5.93289923   2.96084351   4.79305592 -11.32975386]
Bias: -5653382.1848216
Error: 65111742.70793324

In [4]:
X = data[['revenue_1', 'revenue_2', 'revenue_3', 'revenue_4',
          'ins_payment_3', 'ins_payment_6', 'ins_payment_9', 'ins_payment_12']]
y = data['result']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['revenue_1', 'revenue_2', 'revenue_3', 'revenue_4',
                                'ins_payment_3', 'ins_payment_6', 'ins_payment_9', 'ins_payment_12']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [   1.54372581    5.65814247    5.83411491   -9.62383483 -431.47214565
   78.35696053   34.34194267 -201.91292653]
Bias: 8509592.214557096
Error: 64650339.73237578

In [5]:
X = data[['revenue_1', 'revenue_2', 'revenue_3', 'revenue_4',
          'ins_payment_3', 'ins_payment_6', 'ins_payment_9', 'ins_payment_12',
         'prepaid_1', 'prepaid_2', 'prepaid_3']]
y = data['result']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['revenue_1', 'revenue_2', 'revenue_3', 'revenue_4',
                                'ins_payment_3', 'ins_payment_6', 'ins_payment_9', 'ins_payment_12',
                                'prepaid_1', 'prepaid_2', 'prepaid_3']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [  -7.52804386   13.37583092    7.51735654   -9.62383483 -151.64784374
  -22.21715309    6.28791549 -201.91292653  151.19616111 -128.6281408
  -28.05402718]
Bias: 8509592.214557048
Error: 64650339.73237578

In [6]:
data['prepaid_new'] = data['revenue_1'] * data['revenue_1'] + data['revenue_2'] + data['revenue_3'] + data['revenue_4']
data.head(5)

,revenue_1,revenue_2,revenue_3,revenue_4,ins_payment_3,ins_payment_6,ins_payment_9,ins_payment_12,prepaid_1,prepaid_2,prepaid_3,result,prepaid_new
0,504342,119603,148627,536264,21102,71305,97893,9022,9158.52,-43026.82,-17670.38,57557736.32,958586994
1,453765,184201,563871,639396,29691,29632,75785,72157,-2465.10,11111.06,-12320.74,-15330533.12,-254367515
2,142647,397412,380052,835578,49009,10661,81872,50433,-40450.18,62192.72,-48407.88,-67527177.40,-1125056829
3,369667,285984,185034,695524,14206,27743,9368,38592,7974.02,3622.04,29477.04,-47125427.56,-784096041
4,285393,252043,513064,269433,10284,10117,96557,48377,6839.58,15289.58,-55656.16,-9265628.10,-154179635

In [7]:
X = data[['revenue_1', 'revenue_2', 'revenue_3', 'revenue_4',
          'ins_payment_3', 'ins_payment_6', 'ins_payment_9', 'ins_payment_12',
          'prepaid_new']]
y = data['result']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['revenue_1', 'revenue_2', 'revenue_3', 'revenue_4',
                                'ins_payment_3', 'ins_payment_6', 'ins_payment_9', 'ins_payment_12',
                                'prepaid_new']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [-6.00000000e-02 -6.00000000e-02 -6.00000000e-02  1.14690902e-14
 -1.39262806e-13  1.26392094e-13  1.00000000e+00 -1.00000000e+00
  6.00000000e-02]
Bias: -3.632158041000366e-08
Error: 3.1247735023498535e-08